@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>You'll want to compare the pages <a href="~/Home/WithHelper">With Helper</a>   and <a href="~/Home/WithoutHelper">Without Helper</a></p>

<p>Compare the needed code in the view and in the helper.  It's significantly smaller and more modular with the helper.  </p>

