@using JSHelperDemo.Components
@{
    ViewBag.Title = "WithHelper";
    Layout = "~/Views/Shared/_HelperLayout.cshtml";
}

<h2>WithHelper</h2>

@Html.MessageBox("msg1", "Button 1 clicked")
@Html.MessageBox("msg2","Button 2 clicked", "Warning", "alert")


<button onclick="OpenDiag('msg1')">Button 1</button>
<button onclick="OpenDiag('msg2')">Button 2 </button>

@Html.Partial("MyTabs") 


